@keyframes promptA {
    from {top: 116px; font-size: 12px;}
    to {top: 106px; font-size: 10px}
}

body {
    margin: 0;
    padding: 0;
}
.screen {
    position: fixed;
    z-index: 6;
    .field {
        position: absolute;
        top: 0;
        left: 0;
        height: 32px;
        width: 32px;
        .creature {
            position: relative;
            top: 0px;
            left: 0px;
            height: inherit;
            width: inherit;
            z-index: 7;
            &:nth-child(n+2){
                position: absolute;
            }
        }
        .healthBar {
            position: absolute;
            top: -5px;
            left: 2px;
            height: 2px;
            width: 26px;
            border: 1px solid white;
            border-radius: 1px;
            background: transparent;
            z-index: 12;
            .healthBarCurrent {
                position: absolute;
                height: 1px;
                background: limegreen;
                border: 1px solid white;
                border-radius: 1px;
                z-index: 12;
            }
        }
        .object {
            height: 32px;
            width: 32px;
            z-index: 8;
        }
        .object2 {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 8;
        }
        .object-tree {
            position: absolute;
            top: -32px;
            left: 0;
            z-index: 11;
            height: 64px;
            width: 32px;
        }
    }
}

.creaturePrompt{
    pointer-events: none; /* wyłączamy reakcję na najechanie myszką*/
    position: fixed;
    height: 12px;
    width: 32px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    z-index: 11;
}
.prompt {
    pointer-events: none; /* wyłączamy reakcję na najechanie myszką*/
    position: fixed;
    left: 160px;
    height: 12px;
    width: 32px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    animation-name: promptA;
    animation-duration: 0.5s;
    -webkit-animation-name: promptA; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
    z-index: 11;
}
.promptImportant {
    @extend .prompt;
    height: 16px;
    font-size: 16px;
    z-index: 12;
}
.hero {
    height: 32px;
    width: 32px;
    position: fixed;
    top: 128px;
    left: 160px;
    z-index: 9;
    .hero-img{
        position: fixed;
        top: inherit;
        left: inherit;
        height: 32px;
        width: 32px;
        z-index: 10;
    }
    .armor,
    .helmet,
    .weapon,
    .boots {
        position: fixed;
        top: inherit;
        left: inherit;
        height: 32px;
        width: 32px;
        z-index: 10;
    }
}
.screenWrapperTop {
    position: fixed;
    width: 400px;
    height: 64px;
    background: white;
    z-index: 98;
    text-indent: 64px;
    display: block;
    margin: 0 auto;
    h1 {
        color: #8A360F;
        font-size: 30px;
        text-decoration: underline;
    }
}
.screenWrapperLeft{
    position: fixed;
    width: 64px;
    height: 400px;
    background: white;
    z-index: 99;
}
.screenWrapperDown{
    position: fixed;
    top: 320px;
    width: 400px;
    height: 100px;
    background: white;
    z-index: 99;
    font-size: 8px;
    color: white;
    letter-spacing: 4px;
    .fullHp,
    .currentHp {
        position: fixed;
        top: 320px;
        left: 62px;
        height: 10px;
        border-radius: 5px;
        border: 2px solid grey;
    }
    .fullHp {
        background: red;
        width: 256px;
    }
    .currentHp {
        background: green;
        text-align: left;
        border-right: transparent;
        p {
            position: fixed;
            top: 320px;
            left: 125px;
            margin: 3px 10px;
            font-size: 8px;
            color: white;
            letter-spacing: 4px;
        }
    }
    .fullMana,
    .currentMana {
        position: fixed;
        top: 333px;
        left: 62px;
        height: 10px;
        border-radius: 5px;
        border: 2px solid grey;
    }
    .fullMana {
        background: red;
        width: 256px;
    }
    .currentMana {
        background: blue;
        text-align: left;
        border-right: transparent;
        p {
            position: fixed;
            top: 333px;
            left: 125px;
            margin: 3px 10px;
        }
    }
}
.screenWrapperRight{
    position: fixed;
    left: 320px;
    width: 64px;
    height: 400px;
    background: white;
    z-index: 99;
    .smallMap {
        position: fixed;
        top: 17px;
        left: 323px;
        height: 44px;
        width: 44px;
        border: 3px solid grey;
        z-index: 99;
        div {
            position: relative;
            float: left;
            height: 10%;
            width: 10%;
            z-index: 100;
        }
    }
    .equipment {
        position: fixed;
        top: 64px;
        left: 323px;
        height: 122px;
        width: 124px;
        border: 3px solid grey;
        background: #8A360F;
        z-index: 99;
        text-align: center;
        img {
            height: 32px;
            width: 32px;
            background: lighten(#8A360F, 3.5%);
            border: 1px solid grey;
            display: inline-block;
            margin: 0 5px;
            &:first-child {
                display: block;
                margin: 5px auto;
            }
        }
    }
    .heroInfo {
        position: fixed;
        top: 189px;
        left: 323px;
        height: 122px;
        width: 124px;
        border: 3px solid grey;
        background: #8A360F;
        .left-info,
        .right-info {
            display: inline-block;
            color: white;
            font-size: 10px;
            font-weight: 400;
            margin: 3px 3px 0 3px;
            padding: 0;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
        .left-info {
            float: left;
        }
        .right-info {
            float: right;
        }
    }
}