@charset "UTF-8";
@keyframes promptA {
  from {
    top: 116px;
    font-size: 12px; }
  to {
    top: 106px;
    font-size: 10px; } }
body {
  margin: 0;
  padding: 0; }

.screen {
  position: fixed;
  z-index: 6; }
  .screen .field {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px; }
    .screen .field .creature {
      position: relative;
      top: 0px;
      left: 0px;
      height: inherit;
      width: inherit;
      z-index: 7; }
      .screen .field .creature:nth-child(n+2) {
        position: absolute; }
    .screen .field .healthBar {
      position: absolute;
      top: -5px;
      left: 2px;
      height: 2px;
      width: 26px;
      border: 1px solid white;
      border-radius: 1px;
      background: transparent;
      z-index: 12; }
      .screen .field .healthBar .healthBarCurrent {
        position: absolute;
        height: 1px;
        background: limegreen;
        border: 1px solid white;
        border-radius: 1px;
        z-index: 12; }
    .screen .field .object {
      height: 32px;
      width: 32px;
      z-index: 8; }
    .screen .field .object2 {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 8; }
    .screen .field .object-tree {
      position: absolute;
      top: -32px;
      left: 0;
      z-index: 11;
      height: 64px;
      width: 32px; }

.creaturePrompt {
  pointer-events: none;
  /* wy┼é─ůczamy reakcj─Ö na najechanie myszk─ů*/
  position: fixed;
  height: 12px;
  width: 32px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  z-index: 11; }

.prompt, .promptImportant {
  pointer-events: none;
  /* wy┼é─ůczamy reakcj─Ö na najechanie myszk─ů*/
  position: fixed;
  left: 160px;
  height: 12px;
  width: 32px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  animation-name: promptA;
  animation-duration: 0.5s;
  -webkit-animation-name: promptA;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 0.5s;
  /* Chrome, Safari, Opera */
  z-index: 11; }

.promptImportant {
  height: 16px;
  font-size: 16px;
  z-index: 12; }

.hero {
  height: 32px;
  width: 32px;
  position: fixed;
  top: 128px;
  left: 160px;
  z-index: 9; }
  .hero .hero-img {
    position: fixed;
    top: inherit;
    left: inherit;
    height: 32px;
    width: 32px;
    z-index: 10; }
  .hero .armor,
  .hero .helmet,
  .hero .weapon,
  .hero .boots {
    position: fixed;
    top: inherit;
    left: inherit;
    height: 32px;
    width: 32px;
    z-index: 10; }

.screenWrapperTop {
  position: fixed;
  width: 400px;
  height: 64px;
  background: white;
  z-index: 98;
  text-indent: 64px;
  display: block;
  margin: 0 auto; }
  .screenWrapperTop h1 {
    color: #8A360F;
    font-size: 30px;
    text-decoration: underline; }

.screenWrapperLeft {
  position: fixed;
  width: 64px;
  height: 400px;
  background: white;
  z-index: 99; }

.screenWrapperDown {
  position: fixed;
  top: 320px;
  width: 400px;
  height: 100px;
  background: white;
  z-index: 99;
  font-size: 8px;
  color: white;
  letter-spacing: 4px; }
  .screenWrapperDown .fullHp,
  .screenWrapperDown .currentHp {
    position: fixed;
    top: 320px;
    left: 62px;
    height: 10px;
    border-radius: 5px;
    border: 2px solid grey; }
  .screenWrapperDown .fullHp {
    background: red;
    width: 256px; }
  .screenWrapperDown .currentHp {
    background: green;
    text-align: left;
    border-right: transparent; }
    .screenWrapperDown .currentHp p {
      position: fixed;
      top: 320px;
      left: 125px;
      margin: 3px 10px;
      font-size: 8px;
      color: white;
      letter-spacing: 4px; }
  .screenWrapperDown .fullMana,
  .screenWrapperDown .currentMana {
    position: fixed;
    top: 333px;
    left: 62px;
    height: 10px;
    border-radius: 5px;
    border: 2px solid grey; }
  .screenWrapperDown .fullMana {
    background: red;
    width: 256px; }
  .screenWrapperDown .currentMana {
    background: blue;
    text-align: left;
    border-right: transparent; }
    .screenWrapperDown .currentMana p {
      position: fixed;
      top: 333px;
      left: 125px;
      margin: 3px 10px; }

.screenWrapperRight {
  position: fixed;
  left: 320px;
  width: 64px;
  height: 400px;
  background: white;
  z-index: 99; }
  .screenWrapperRight .smallMap {
    position: fixed;
    top: 17px;
    left: 323px;
    height: 44px;
    width: 44px;
    border: 3px solid grey;
    z-index: 99; }
    .screenWrapperRight .smallMap div {
      position: relative;
      float: left;
      height: 10%;
      width: 10%;
      z-index: 100; }
  .screenWrapperRight .equipment {
    position: fixed;
    top: 64px;
    left: 323px;
    height: 122px;
    width: 124px;
    border: 3px solid grey;
    background: #8A360F;
    z-index: 99;
    text-align: center; }
    .screenWrapperRight .equipment img {
      height: 32px;
      width: 32px;
      background: #9a3c11;
      border: 1px solid grey;
      display: inline-block;
      margin: 0 5px; }
      .screenWrapperRight .equipment img:first-child {
        display: block;
        margin: 5px auto; }
  .screenWrapperRight .heroInfo {
    position: fixed;
    top: 189px;
    left: 323px;
    height: 122px;
    width: 124px;
    border: 3px solid grey;
    background: #8A360F; }
    .screenWrapperRight .heroInfo .left-info,
    .screenWrapperRight .heroInfo .right-info {
      display: inline-block;
      color: white;
      font-size: 10px;
      font-weight: 400;
      margin: 3px 3px 0 3px;
      padding: 0;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
    .screenWrapperRight .heroInfo .left-info {
      float: left; }
    .screenWrapperRight .heroInfo .right-info {
      float: right; }

/*# sourceMappingURL=style.css.map */
